<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/9UsSsMn.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../assets/css/styles.css"
    type="text/css" />
  <title>Flex City</title>

</head>

<body>
  {{!-- NAV BAR  --}}
  <header>
    <nav class="nav-wrapper deep-purple darken-4">
      <div class="container">
        <a href="#" class="brand-logo"><img
            src="/assets/images/FlexCity.png" width="110"
            height="auto"></a>
        <a href="#" class="sidenav-trigger"
          data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li class="tab"><a class="waves-effect waves-light"
              href="/">Home</a></li>
          <li class="tab"><a class="waves-effect waves-light"
              href="/workouts/find">Find</a></li>
          <li class="tab"><a class="waves-effect waves-light"
              href="/workout/create">Create</a></li>

          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
      <li><a href="/">Home</a></li>
      <li><a href="/workouts/find">Find</a></li>
      <li><a href="/workout/create">Create</a></li>

    </ul>
  </header>
  <main>

    {{{body}}}


  </main>
  <footer class="page-footer deep-purple darken-4">
    <div class="container">
      <div class="footer-copyright">
        <div class="container">
          <a href="*">
            <i class="fa fa-facebook fa-2x"></i></a>
          <a href="*">
            <i class="fa fa-instagram fa-2x"></i></a>
          <a href="*">
            <i class="fa fa-twitter fa-2x"></i></a>
        </div>
      </div>
  </footer>


  {{!-- JQEURY FOR MATERIALIZE  --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->


  <!-- Compiled and minified JavaScript -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{!-- NEED TO PUT IN FILE. WAS GETTING ERROR WHEN I PUT IN FILE.  --}}
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('select').formSelect();
      $('.parallax').parallax();
    })
  </script>
  <script atl="workoutform script">
    $(document).ready(function () {
      $("#submitbtn").on("click", function () {
        if ($("#name").val() === "" || $("#type").val() === "") {
          alert("Enter a name and type");
        } else {
          $.ajax("/api/workouts", {
            type: "POST",
            data: {
              name: $("#name").val(),
              type: $("#type").val(),
            },
          }).then(function (results) {
            for (let i = 1; i < 6; i++) {
              if ($("#message" + i).val() !== "") {
                $.ajax("/api/exercise/", {
                  type: "POST",
                  data: {
                    text: $("#message" + i).val(),
                    WorkoutId: results.id,
                  },
                }).then(function () {
                  location.reload();
                });
              }
            }
          });
        }
      });
    });
  </script>
  <script alt="view work out script">
    $(document).ready(function () {
      const buttonClicked = $(this);
      $(".workoutView").on("click", function (event) {
        $(this).removeClass("indigo");
        $(this).addClass("green");
      });

      $(".workoutViewDelete").on("click", function (event) {
        event.preventDefault();
        $(this).removeClass("red");
        $(this).addClass("red accent-4");
        let id = $(this).attr("id")

        $.ajax("/api/exercise/" + id, {
          type: "DELETE"
        }).then(function (result) {
          console.log(result)
          location.reload();
        })
      });
    });
  </script>
  <script alt="editform script">
    $(document).ready(function () {
      $("#submitbtn-edit").on("click", function () {

        console.log($("#name-edit").attr("data-id"))

        let workoutid = $("#name-edit").attr("data-id")

        if ($("#name-edit").val() === "" || $("#type-edit").val() === "") {
          alert("Enter a name and type");
        } else {
          $.ajax("/api/workouts/" + workoutid, {
            type: "PUT",
            data: {
              name: $("#name-edit").val(),
              type: $("#type-edit").val(),
            },
          }).then(function (results) {
            for (let i = 0; i < 5; i++) {
              if ($("#loop" + i).val() !== "" || $("#loop" + i).val() !== "undefined") {

                $.ajax("/api/exercise/ " + $("#loop" + i).attr("data-id"), {
                  type: "PUT",
                  data: {
                    text: $("#loop" + i).val(),
                    WorkoutId: workoutid,
                  },
                }).then(function () {
                  console.log("updated exercise")
                });
              }
            }
            location.reload();


            location.reload();
          });
        }
      })
    })
  </script>
  <script>
    $(document).ready(function () {
      $(".deletebtn").on("click", function (event) {
        let id = $(this).attr("data-id")

        $.ajax("/api/workouts/" + id, {
          type: "DELETE"
        }).then(function (result) {
          console.log(result)
          location.reload();
        });
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $("#send-btn").on("click", function (event) {
        $.ajax("/api/mail", {
          type: "POST",
          data: {
            subject: $("#mail-subject").val(),
            text: $("#mail-text").val()
          }
        }).then(() => {
          console.log("Sent mail sucessfully")
        })
      })
    })
  </script>

</body>

</html>