<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/styles.css"
        type="text/css" />
    <title>Flex City</title>
</head>

<body>
    {{!-- NAV BAR  --}}
    <nav class="navbar deep-purple darken-4">
        <img src="/assets/img/FlexCity.png" class="brand-logo center">
        <div class="nav-content center">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a
                        class="waves-effect waves-light active"
                        href="#test1">Find</a></li>
                <li class="tab"><a class="waves-effect waves-light"
                        href="#test2">Create</a></li>
                <li class="tab"><a class="waves-effect
                        waves-light" href="#test3">My Workouts</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>