<main>
    <div class="container section">
        <div class="row">
            <div class="col s12 14">
                <h2 class="indigo-text text-darken-4">Psych! We dont
                    actually have social media.</h2> <i
                    class="indigo-text text-darken-4 large material-icons">sentiment_very_dissatisfied</i>
                <p class="indigo-text text-darken-4">Try going back to
                    the previous screen.</p>
            </div>

        </div>
    </div>
</main>