<div class="container">
  <ul>
    <li>
      {{#each workout}}
      <div class="row">
        <div class="col s12 m6">
          <div class="card transparent">
            <div class="card-content indigo-text">
              <span class="card-title"> {{name}} </span>
              <a
                class="btn-floating halfway-fab waves-effect waves-light indigo"><i
                  class="material-icons">add</i></a>
             
              <p>{{type}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </li>
  </ul>
</div>