{{!-- MAIN CONTENT  --}}
<main>
    {{!-- NAV BAR  --}}
    <nav class="nav-extended deep-purple darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Flex City</a>
            
        </div>
        <div class="nav-content center">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a
                        class="waves-effect waves-light active"
                        href="#test1">Find</a></li>
                <li class="tab"><a class="waves-effect waves-light"
                        href="#test2">Create</a></li>
                <li class="tab"><a class="waves-effect
                        waves-light" href="#test3">My Workouts</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
    </ul>

    <div class='container'>
    </div>
</main>
{{!-- FOOTER  --}}
<footer class="page-footer deep-purple darken-4">
    <div class="footer-copyright">
        <div class="container">
            <i class="fa fa-facebook fa-2x"></i>
            <i class="fa fa-instagram fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
        </div>
    </div>
</footer>