{{!-- MAIN CONTENT  --}}
<main>
    <div class="parallax-container" id="homescreen">
        <div class="parallax">
            <img src="assets/images/woman-flex.jpg"
                class="responsive-img cover">
        </div>
        <div class="transbox" id="home-transbox">
            <h3>Welcome</h3>
            <a href="#"
                class="waves-effect waves-light btn">Enter</a>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/man-on-treadmill.jpg"
                class="responsive-img">
        </div>
        <div class="transbox">
            <h3>Explore</h3>
            <a href="/workout/find"
                class="waves-effect waves-light btn">Find a
                Workout</a>
        </div>
    </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/two-women-doing-exercise.jpg">
        </div>
        <div class="transbox">
            <h3>Create & Share</h3>
            <a href="/workout/create"
                class="waves-effect waves-light btn">Create
                a Workout</a>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/background.jpeg">
        </div>
        <div class="transbox">
            <h3>Contact</h3>
            <a href="/workout/mail"
                class="waves-effect waves-light btn">We Want to Hear
                From You</a>
        </div>
</main>