{{!-- MAIN CONTENT  --}}
<main>
    <div class="container section">
        <div class="row">
            <div class="col s12 l4">
                <img src="assets/images/dumbells.jpg" alt="" class="responsive-img">
            </div>
            <div class="col s12 l6 offset-l1">
                <h2 class="indigo-text text-darken-4">Find A Workout
                </h2>
                <p>Having trouble finding a workout? Click here and we'll help you out!</p>
                <a href="/workouts/find"
                    class="waves-effect waves-light btn indigo">Find
                    Workouts</a>
            </div>

        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/man-on-treadmill.jpg">
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col s12 l4 push-l8">
                <img src="assets/images/kettlebells-closeup.jpg"
                    alt="" class="responsive-img">
            </div>
            <div class="col s12 l6 pull-l3">
                <h2 class="indigo-text text-darken-4">Create A Workout
                </h2>
                <p>Want to share your workouts? Try creating one so
                    others can train like you!</p>
                <a href="/workout/create"
                    class="waves-effect waves-light btn indigo">Create
                    a Workout</a>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="assets/images/two-women-doing-exercise.jpg">
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col s12 l4">
                <img src="assets/images/woman-flex.jpg" alt="" class="responsive-img">
            </div>
            <div class="col s12 l6 offset-l1">
                <h2 class="indigo-text text-darken-4">Control Your
                    Workout
                </h2>
                <p>Create a workout and have fun
                    reaching your fitness goals!</p>
            </div>
        </div>
    </div>
</main>