{{!-- MAIN CONTENT  --}}
<main>

    <div class='container'>
    </div>
</main>
{{!-- FOOTER  --}}
<footer class="page-footer deep-purple darken-4">
    <div class="footer-copyright">
        <div class="container">
            <a href="../public/404-error.html">
                <i class="fa fa-facebook fa-2x"></i></a>
            <a href="../public/404-error.html">
                <i class="fa fa-instagram fa-2x"></i></a>
            <a href="../public/404-error.html">
                <i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>