<form>
  <label for="fname">Subject:</label><br>
  <input type="text" id="mail-subject" name="fname"><br>
  <label for="lname">Text</label><br>
  <input type="text" id="mail-text" name="text">
  <input type="submit" value="Send Feedback" id="send-btn">
</form>