<div class="listSelection">
    <ul class="ul1">
      {{#each singleexercisedata}}
      <button class="btn indigo center" id="{{id}}">
      {{>singleexercise/singleexercise-block}}
      </button>
      <h2 class="restTimer"></h2>
      <br><br>
      {{/each}}
    </ul>
</div>