<section class="section container" id="create">
  <div class="row">
    <div class="col s12 l5">
      <h2 class="indigo-text text-darken-4">Create Your Workout!</h2>
    </div>
    <div class="col s12 l5 offset-l2">
      <form action="">
        <div class="input-field">
          <input type="email" id="name">
          <label for="email">Name of Workout</label>
        </div>
       <div class="input-field">
          <textarea id="type"
            class="materialize-textarea"></textarea>
          <label for="type">Type of Workout</label>
        </div>
        <div class="input-field">
          <textarea id="message1"
            class="materialize-textarea"></textarea>
          <label for="message1">Exercise 1</label>
        </div>
        <div class="input-field">
          <textarea id="message2"
            class="materialize-textarea"></textarea>
          <label for="message2">Exercise 2</label>
        </div>
        <div class="input-field">
          <textarea id="message3"
            class="materialize-textarea"></textarea>
          <label for="message3">Exercise 3</label>
        </div>
        <div class="input-field">
          <textarea id="message4"
            class="materialize-textarea"></textarea>
          <label for="message4">Exercise 4</label>
        </div>
        <div class="input-field">
          <textarea id="message5"
            class="materialize-textarea"></textarea>
          <label for="message5">Exercise 5</label>
        </div>
        <div class="input-field">
          <textarea id="comments"
            class="materialize-textarea"></textarea>
          <label for="comments">Comments</label>
        </div>
        <a class="waves-effect waves-light btn indigo" id = "submitbtn">Submit</a>
      </form>
    </div>
  </div>
  </div>
</section>

