body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Not Currently Using This */
/* header {
  background: url(/assets/images/background.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 600px;
  }
} */

.brand-logo {
  margin-top: 5px;
}

main {
  flex: 1 0 auto;
}

.section {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

p {
  font-size: 16px;
}

.card .card-content {
  padding: 10px;
}

.card .card-title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.page-footer {
  text-align: center;
  padding-top: 0px;
}

.fa {
  margin-right: 2rem;
  color: white;
}

/* WORKOUT INPUT FORM  */
/* label color */
.input-field label {
  color: indigo;
}
