body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-image: url(../images/background.jpeg);
  background-size: cover;
  */
  background-color: black;
  opacity: 0.9;
}

.brand-logo{
    margin-top: 5px;
    height: 19vh;
}

main {
  flex: 1 0 auto;
}

ul:not(.browser-default) {
  display: flex;
  justify-content: center;
}

.page-footer {
  text-align: center;
  padding-top: 0px;
}

.fa {
  margin-right: 2rem;
}

nav{
    height: 21vh;
    background-color: 31158d;
    display: flex;
    min-height: 10px;
    flex-direction: column;
    opacity: 0.9;
}