body {
  background-color: indigo;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* NAVBAR */
.brand-logo {
  margin-top: 5px;
}

.sidenav {
  background-color: transparent;
}

.sidenav li > a {
  color: white;
}

/* MAIN CONTENT */
main {
  flex: 1 0 auto;
}

.parallax-container {
  background: rgba(75, 0, 130, 0.7);
}

.transbox {
  position: absolute;
  margin-left: 45px;
  margin-bottom: 65px;
  bottom: 0;
  color: aliceblue;
}

.section {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

p {
  font-size: 16px;
}

.card .card-content {
  padding: 10px;
}

.card .card-title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.btn {
  background-color: transparent;
  border: 5px solid white;
  text-align: center;
  height: 45px;
}

.btn:hover {
  background-color: white;
  color: indigo;
  border: 5px solid white;
}

.btn-floating {
  margin-right: 5px;
}

/* FOOTER */
.page-footer {
  text-align: center;
  padding-top: 0px;
}

.fa {
  margin-right: 2rem;
  color: white;
}

.listSelection {
  display: grid;
  justify-content: center;
}
